:root{

}

body{
    background-image: url(Sun\ Assets/nasa-sun-hd-wallpaper.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
}

h1{
    color: red;
    font-family: sans-serif;
    font-size: 50px;
}

#main-container{
    height: fit-content;
    width: 1100px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: rgba(240, 248, 255, 0.58);
    margin: auto;
}

#title-container{
    height: 150px;
    width: 1000px;
    display: flex;
    margin: auto;
}

#back , #more-info{
    height: 100%;
    width: 150px;
    margin: auto;
}

#title{
    height: 100%;
    width: 700px;
    text-align: center;
    margin: auto;
}

#article-container{
    height: fit-content;
    padding: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 0 auto;
    box-sizing: border-box;
}

#article-container p {
    text-align: center;
}